.row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.col-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex-container {
  display: flex;
}
.action-bar {
  padding-bottom: 20px;
  margin: 20px;
  display: flex;
  border-bottom: 1px solid #ccc;
}
